/* styles/CylinderGallery.module.css */
:global(*) {
  box-sizing: border-box;
}

.galleryContainer {
  background-color: rgb(255, 255, 255);
}

.gallery {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.box {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 80s linear infinite;
  margin: 0 auto;
}

.box:hover {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 36deg)) translateZ(450px);
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
  border: 4px double rgb(0, 0, 0);
}

.box span img:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(200px);
  }

  .box span img {
    border-width: 2px;
  }

  .gallery {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}