/* /components/Footer.module.css*/

.footer {
  margin-top: rem(120);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  border-top: rem(1) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  max-width: rem(300);

  @media (max-width: 640px) {
    /* FIX: Replaced Sass variable */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logoText {
  color: var(--mantine-color-white);
}

.logoText span {
  color: var(--mantine-color-blue-6);
}

.description {
  margin-top: rem(5);

  @media (max-width: 640px) {
    /* FIX: Replaced Sass variable */
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: 640px) {
    /* FIX: Replaced Sass variable */
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    /* FIX: Replaced Sass variable */
    display: none;
  }
}

.wrapper {
  width: rem(160);
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3);
  padding-bottom: rem(3);
}

/* FIX: Un-nested the hover state */
.link:hover {
  text-decoration: underline;
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  border-top: rem(1) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));

  @media (max-width: 640px) {
    /* FIX: Replaced Sass variable */
    flex-direction: column;
  }
}
