.galleryContainer {
  padding: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: fit-content;
}

.galleryImage {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  height: 250px;
  position: relative;
}

.galleryImage:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
