.sectionTitle {
  padding-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #003366;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.subtitle {
  font-size: 1.125rem;
}
