.container {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Semi-transparent background image layer */
.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* image transparency */
  z-index: 0;
}

/* Foreground bubbles */
.edge, .center {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  z-index: 2;
}

.center {
  z-index: 3;
}

.topLeft {
  top: 10%;
  left: 15%;
}

.topRight {
  top: 10%;
  right: 15%;
}

.bottomLeft {
  bottom: 10%;
  left: 15%;
}

.bottomRight {
  bottom: 10%;
  right: 15%;
}